* {
    box-sizing: border-box;
  }
  
  /* Style the side navigation */
.sidenav {
    height: 100%;
    width: 270px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #a3dcbb;
    overflow-x: hidden;
    margin-left: 12.5%;
}

  /*make the active user text inherit style from container*/
.inbox__people{
      color: white;
      padding: 16px;
}
  
  /* Style the content */
.content {
    margin-left: 200px;
    padding-left: 20px;
}

a {
    text-decoration: underline;
}

.navbar-toggler {
    background-color: red;
    border-color: red;
}

.navbar {
    height: 15%;
    min-height: 50px;
    width: 75%;
    margin: auto;
}

.navbar-brand, nav, .jumbatron{
    background-color: #206040;
}

.footer p {
    margin-bottom: 0px;
}

.footer {
    width: 75%;
    margin: auto;
}

.navbar-brand, .nav-link, .jumbatron{
    color: white;
}

.nav-item:hover {
    background-color: #39ac73;
}

.navbar-brand:hover, .nav-link:hover {
    color: white;
}

.active {
    background-color: #39ac73;
}

.row {
    margin: 20px;
}

#infopage-images {
    flex-direction: row;
    display: flex;
}

.volleyball-image {
    display: block;
    width: 100%;
}

.crafting-image {
    display: block;
    width: 50%;
}

.kayak-sup-image {
    display: block;
    width: 50%;
}

.extra-image {
    display: block;
    width: 25%;
}

iframe {
    width:100%;
    height:400px;
    border: 1px solid black;
}